body {
  background-color: #FFF;
  font-family: OCR A Std, monospace ;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  background-color: #e0e0e0;
}

header,
footer {
  font-family: OCR A Std, monospace ;
  background-color: #000;
  color: #fff;
  padding: 1em 0;
  text-align: center;
}

h1 {
  color: #fff;
}

header li {
  display: inline;
  padding: 0 1em;
}

#Presentation {
  text-align: center;
}

#logo {
  border: 2px, solid, #000 ;
  border-radius : 200px ;
  background-color: #fff;
  padding: 20px ;
  margin-left: 80px ;
}

#Formation {
  background-color: #000;
  border-radius : 50px ;
  text-align: center;
  color : #FFF
}

#MesExperiences {
  background-color: #000;
  border-radius : 50px ;
  text-align: center;
  color :#FFF
}

#MesCompetences {
  text-align: center;
}

#Menu{
  text-decoration: none;
}

#Menu:Hover{
  background-color: #000;
  color #FFF
}

Head{
  font-family: OCR A Std, monospace ;
}